/****
 * Layout
 ****/
#body {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "top top top"
      "side1 main side2"
      "bottom bottom bottom";
}

#top {
    grid-area: top;
    width: 100%;
    padding: 1rem 21rem;
}

#bottom {
    grid-area: bottom;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

#main {
    grid-area: main;
    margin: 1rem;
    padding: 0rem 1rem;
}

#side1 {
    grid-area: side1;
    width: 22rem;
    padding: 0rem 0rem 1rem 1rem;
}

#side2 {
    grid-area: side2;
    width: 22rem;
    padding: 0rem 1rem 1rem 0rem;
}

#side1 aside, #side2 aside {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
    overflow-y: auto;
    /* max-height: 100vh; */
}

#main h1 {
    margin: 0rem -1rem 1rem -1rem;
    padding: 1.5rem 1rem 1rem 1rem;
}

#main h2 {
    margin: 1rem 0rem;
    padding: 0.7rem 1rem 0.5rem 1rem;
}

#main h3 {
    padding: 0.7rem 1rem 0.5rem 1rem;
}

#main pre {
    padding-left: 2rem;
}

#main ul {
    /* padding-left: 2rem; */
}

#main li > p {
    margin: 0rem;
}

#main dl {
    padding-left: 1rem;
}

#main dt {
    margin: 0rem;
}

#main dd {
    margin: 0rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
}

#main table {
    margin-left: 2rem;
    padding-right: 2rem;
}

#main th:empty {
    padding: 0rem;
}

.markdown-body p {
    margin: 0.5rem 0rem;
}

aside nav details {
    margin-bottom: 1rem;
    margin-right: 3px;
}

aside nav details summary {
    margin: 1rem 0rem 0rem 0rem;
    padding: 0.5rem 1rem 0.25rem 1rem;
}

aside nav details ul {
    list-style-type: none;
    padding: 0.5rem;
}

nav.section_toc details li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

nav.labels_categories {
}

.item-tags, .item-categories {
    margin-left: 0.5rem;
}

.item-date {
    font-size: 14px;
    color: navy;
}

td.align-right {
    text-align: right;
}

td.align-left {
    text-align: left;
}

td.align-center {
    text-align: center;
}

img.cover {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
}

@media screen and (max-width: 100rem) {
  #body {
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "top top"
        "main side1"
        "main side2"
        "bottom bottom";
  }
  #top {
      padding-left: 1rem;
  }
  #bottom {
  }
  #main {
  }
  #main h1 {
      padding: 1rem 1rem 0.5rem 1rem;
  }
  #main ul {
      /* padding-left: 2rem; */
  }
  #side1 {
      padding: 0rem 1rem 1rem 0rem;
      width: 18rem;
  }
  #side2 {
      padding: 0rem 1rem 1rem 0rem;
      width: 18rem;
  }
}

@media screen and (max-width: 65rem) {
  #body {
      display: block;
  }
  #top {
      padding: 1rem;
  }
  #bottom {
  }
  #main {
      margin: 0rem;
  }
  #main h1 {
      padding: 1rem 1rem 0.5rem 1rem;
  }
  #main ul {
      /* padding-left: 2rem; */
  }
  #side1 {
      width: 100%;
      position: static;
      padding: 0rem 1rem;
  }
  #side2 {
      width: 100%;
      position: static;
      padding: 0rem 1rem;
  }
}

/****
 * Colors
 ****/
#top {
    color: black;
    background-color: #f8f8ff;
    border-bottom: 1px solid lightgray;
}

#top a {
    color: black;
}

#bottom {
    color: black;
    background-color: #f8f8ff;
    border-top: 1px solid lightgray;
}

#bottom a {
    color: black;
}

#main {
    box-shadow: 1px 1px 1px #eee;
    -webkit-box-shadow: 1px 1px 1px #eee;
    -moz-box-shadow: 1px 1px 1px #eee;
}

#main h1 {
    /*
    color: white;
    text-shadow: 1px 1px 1px #000;
    background: linear-gradient(#9AB, #678, #567, #678);
    */
    color: black;
    background-color: #dde;
    border-bottom: 1px solid #aaa;
}

#main h1 a {
    /* color: white; */
    color: black;
}

#main h2 {
    /*
    color: white;
    text-shadow: 1px 1px 1px #000;
    background: linear-gradient(#9AB, #678, #567, #678);
    */
    color: black;
    background-color: #dde;
    border-bottom: 1px solid #aaa;
}

#main h2 a {
    /* color: white; */
    color: black;
}

#main h3 {
    color: black;
    background-color: #dde;
    border-bottom: 1px solid #aaa;
}

#side1, #side2 {
    color: black;
    background-color: white;
}

#side1 a, #side2 a {
}

#main h1.notice {
    background: linear-gradient(green, #020, #020);
}

#main h1.alert {
    background: linear-gradient(#c00, #800, #800);
}

aside nav details {
    background-color: #f8f8ff;
    box-shadow: 3px 3px 3px #aaaaaa;
    -webkit-box-shadow: 3px 3px 3px #aaaaaa;
    -moz-box-shadow: 3px 3px 3px #aaaaaa;
}

aside nav summary {
    /*
    color: white;
    text-shadow: 1px 1px 1px #000;
    background: linear-gradient(#9AB, #678, #567, #678);
    */
    color: black;
    background-color: #dde;
}

aside nav.alert summary {
    background: linear-gradient(#c00, #800, #800);
}

aside nav summary a {
    /* color: white; */
}

nav.nav-menu {
    font-weight: bold;
}

.breadcrumb-item::after {
    color: gray;
}

.item-title {
    font-size: 120%;
}

#main dt {
    font-style: normal;
}

/****
 * Additional sytles for listing pages
 ****/
ul.card {
    margin-top: 1rem;
    list-style-type: none;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    /* justify-content: space-around; */
}

ul.card > li {
    display: block;
    /* max-width: 30rem; */
    /* flex: 1 1 15rem; */
    width: 15rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0rem 1rem 2rem 1rem;
    box-shadow: 1px 1px 1px #aaaaaa;
    -webkit-box-shadow: 1px 1px 1px #aaaaaa;
    -moz-box-shadow: 1px 1px 1px #aaaaaa;
    background: #f8f8ff;
}

@media screen and (max-width: 40rem) {
    ul.card > li {
        width: 100%;
    }
}

ul.card .item-image {
    margin: -1rem -1rem 0rem -1rem;
    padding: 0;
}

ul.card .item-date {
    display: block;
}

ul.card .item-title {
    font-size: 110%;
    font-weight: bold;
}

ul.card .item-summary {
    display: block;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    font-size: 90%;
    border-top: 1px solid lightgray;
}

.timestamp {
    font-family: monospace;
    color: #161;
    /* background-color: #fcfffc; */
    /* border-bottom: 0.5px solid #161; */
    padding: 0.3em 0.3em 0.1em 0.3em;
}
