<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="generator" content="Hugo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{{ block "head_title" . }}{{ partial "default_head_title.html" . }}{{ end }}</title>
  {{ with .Keywords }}  <meta content="{{ delimit . `, ` }}" name="keywords">{{ end }}
  {{- if .Description }}
    <meta name="description" property="og:description" content="{{ .Description }}|{{ .Site.Params.Description }}">
  {{- else }}
    <meta name="description" property="og:description" content="{{ .Site.Params.Description }}">
  {{- end }}
  <link rel="stylesheet" href="{{ `css/syntax.css` | relURL }}">
  <link rel="stylesheet" href="{{ `css/primer-build.css` | relURL }}">
  <link rel="stylesheet" href="{{ `css/style.css` | relURL }}">
  <link rel="stylesheet" href="{{ `css/custom.css` | relURL }}">
  {{- if .Site.IsServer }}
    <link rel="stylesheet" href="{{ `css/hugoserver.css` | relURL }}">
  {{- end }}
  {{- if .Param "custom_css" }}{{- range $x := (.Param "custom_css") }}
    <link rel="stylesheet" href="{{ $x | relURL }}">
  {{- end }}{{- end }}
  {{- if .Param "mathjax" }}
    {{- partial "sub_mathjax.html" . }}
  {{- end }}
  {{- if .Param "custom_js" }}{{- range $x := (.Param "custom_js") }}
    <script type="text/javascript" src="{{ $x | relURL }}"></script>
  {{- end }}{{- end }}
  {{- if .Param "redirect" }}
  <meta http-equiv="refresh" content="{{- .Param "redirect" -}}">
  {{- end }}
  {{- partial "sub_netlify_cms.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
</head>
<body>
{{- if .Param "body_class" }}
<div id="body" class="{{- .Param `body_class` -}}">
{{- else }}
<div id="body" class="{{- block `body_class` . -}}{{- end -}}">
{{- end }}
  {{- .Scratch.Set "currentPage" . }}
  <div id="top">
    {{ block "top" . }}{{ partial "default_top.html" . }}{{ end }}
  </div>
  <div id="side1" class="side">
    {{ block "side1" . }}{{ partial "default_side1.html" . }}{{ end }}
  </div>
  <div id="main" role="main" class="markdown-body">
    <main>
    {{ block "main" . }}{{ partial "default_main.html" . }}{{ end }}
    {{ partial "debug_show_variables.html" . }}
    </main>
  </div>
  <div id="side2" class="side">
    {{ block "side2" . }}{{ partial "default_side2.html" . }}{{ end }}
  </div>
  <div id="bottom">
    {{ block "bottom" . }}{{ partial "default_bottom.html" . }}{{ end }}
  </div>
</div>
</body>
</html>
