<header>
  {{- partial "sub_title.html" . -}}
</header>
<div>
  {{- partial "sub_notice.html" . }}
</div>
{{- if or .IsSection .IsPage }}
  {{- partial "nav_top.html" . }}
{{- end }}

<aside>
  {{- if eq 3 (.Param "navigations.alert_pages") }}
    {{- partial "sub_nav_alert_pages.html" . }}
  {{- end }}
  {{- if eq 3 (.Param "navigations.toc") }}
    {{- partial "sub_nav_toc.html" . }}
  {{- end }}
  {{- if eq 3 (.Param "navigations.section_toc") }}
    {{- partial "sub_nav_section_toc.html" . }}
  {{- end }}
  {{- if eq 3 (.Param "navigations.related") }}
    {{- partial "sub_nav_related.html" . }}
  {{- end }}
  {{- if eq 3 (.Param "navigations.links") }}
    {{- partial "sub_nav_links.html" . }}
  {{- end }}
</aside>

{{ .Content }}
{{- if and .CurrentSection (.Param "enable_list") }}
  {{- if .Param "lists" }}
    {{- partial "sub_lists.html" . }}
  {{- else }}
    {{- partial "sub_list.html" . }}
  {{- end }}
{{- end }}

<aside>
  {{- if eq 4 (.Param "navigations.alert_pages") }}
    {{- partial "sub_nav_alert_pages.html" . }}
  {{- end }}
  {{- if eq 4 (.Param "navigations.toc") }}
    {{- partial "sub_nav_toc.html" . }}
  {{- end }}
  {{- if eq 4 (.Param "navigations.section_toc") }}
    {{- partial "sub_nav_section_toc.html" . }}
  {{- end }}
  {{- if eq 4 (.Param "navigations.related") }}
    {{- partial "sub_nav_related.html" . }}
  {{- end }}
  {{- if eq 4 (.Param "navigations.links") }}
    {{- partial "sub_nav_links.html" . }}
  {{- end }}
</aside>
