{{ define "menu" }}
  {{- $currentPage := . }}
  {{- range .Site.Menus.main }}
    {{- $n := .Name }}
    {{- if and ($currentPage.Param "disable_translation") .Identifier }}
      {{- $n = .Identifier | humanize }}
    {{- end }}
    {{- if eq .URL $currentPage.RelPermalink }}
      <a href="{{ .URL }}" role="tab" title="{{ $n }}" class="UnderlineNav-item selected">{{ $n }}</a>
    {{- else }}
      <a href="{{ .URL }}" role="tab" title="{{ $n }}" class="UnderlineNav-item">{{ $n }}</a>
    {{- end }}
  {{- end }}
{{ end }}

{{ define "lang_switch1" }}
  {{- if .IsTranslated }}
    {{- range .Translations }}
      {{- $lang := upper .Lang }}
      <a href="{{ .Permalink }}" role="tab" title="{{ $lang }}" class="UnderlineNav-item">{{ $lang }}</a>
    {{- end }}
  {{- end }}
{{ end }}

{{ define "lang_switch2" }}
  {{- if .IsTranslated }}
    {{- $lang := (slice) }}
    {{- range .Translations }}
      {{- $href := printf "<a href=\"%s\">%s</a>" .Permalink .Lang }}
      {{- $lang = $lang | append $href }}
    {{- end }}
    <span class="UnderlineNav-item">{{- delimit $lang " | " }}</span>
  {{- end }}
{{ end }}

<div class="clearfix">
  {{- partial "sub_logo.html" . }}
  <nav aria-label="menu" class="float-md-right UnderlineNav border-bottom-0 nav-menu">
    <div class="UnderlineNav-body">
      {{- template "menu" . }}
      {{- template "lang_switch1" . }}
    </div>
  </nav>
</div>
