<div class="border-bottom pb-1 mb-4">
{{- if .Param "navigations.breadcrumb" }}
  {{- partial "sub_nav_breadcrumb.html" . }}
{{- end }}
{{- if .Date }}
  <div class="label_date clearfix">
    <div class="float-md-right pr-3">
     {{- partial "sub_label_date.html" . }}
    </div>
  </div>
{{- end }}
{{- if .Lastmod }}
  <div class="label_lastmod clearfix">
    <div class="float-md-right pr-3">
     {{- partial "sub_label_lastmod.html" . }}
    </div>
  </div>
{{- end }}
{{- if and (.Param "navigations.tags") .Params.tags }}
  <nav role="navigation" aria-label="tags" class="label_tags clearfix">
    <div class="float-md-right pr-3">
     {{- partial "sub_label_tags.html" . }}
    </div>
  </nav>
{{- end }}
{{- if and (.Param "navigations.categories") .Params.categories }}
  <nav role="navigation" aria-label="categories" class="label_categories clearfix">
    <div class="float-md-right pr-3">
      {{- partial "sub_label_categories.html" . }}
    </div>
  </nav>
{{- end }}
</div>
