{{/* Under development */}}
{{- $cp := . }}
{{- range $list := .Param "lists" }}

  {{- $cs := $cp.CurrentSection }}
  {{- if $list.section }}
    {{- $cs = ($cp.GetPage $list.section).CurrentSection }}
  {{- end }}

  {{- $pages0 := $cs.Pages }}
  {{- if $cs.IsHome }}
    {{- $pages0 = where $pages0 "Section" "" }}
  {{- end }}
  {{- $pages := (slice) }}
  {{- if $list.pages }}
    {{- range $p := $list.pages }}
      {{- if eq $p "sections" }}
        {{- $pages = union $pages $cs.Sections }}
      {{- else if eq $p "pages" }}
        {{- $pages = union $pages $pages0 }}
      {{- end }}
    {{- end }}
  {{- else }}
    {{- $pages = union $cs.Sections $pages0 }}
  {{- end }}

  {{- range $x := $list.params }}
    {{- $pages = where $pages ".Params.Keys" "intersect" (slice $x) }}
  {{- end }}

  {{- range $x := $list.tags }}
    {{- $pages = where $pages ".Params.tags" "intersect" (slice $x) }}
  {{- end }}

  {{- range $x := $list.categories }}
    {{- $pages = where $pages ".Params.categories" "intersect" (slice $x) }}
  {{- end }}

  {{- if eq "title" $list.sortby }}
    {{- $pages = sort $pages "Title" "asc" }}
  {{- else if eq "date" $list.sortby }}
    {{- $pages = sort $pages "Date" "desc" }}
  {{- end }}

  {{- if $pages }}

  <nav role="navigation" aria-label="list-pages" class="list-pages">

  {{- if or $cp.IsHome (or $cp.IsSection $cp.IsPage) }}
    {{- $t := $list.header }}
    {{- if and (not $t) (ne $t "") }}
      {{- $t = i18n "listofpage" $cp }}
      {{- if or (not $t) ($cp.Param "disable_translation") -}}{{ $t = "List of Pages" }}{{- end -}}
    {{- end }}
    {{- if $t }}<h2>{{ $t }}</h2>{{- end }}
  {{- end }}

  {{- if gt $list.max 0 }}
    {{- $pages = first $list.max $pages }}
  {{- end }}

  {{- $cp.Scratch.Set "pages" $pages }}
  {{- partial "sub_list_pages.html" $cp }}

  </nav>

  {{- end }}
{{- end }}
