{{- $currentPage := . }}
{{- $pages := .Scratch.Get "pages" }}
<ul class="{{- .Param `list_class` }}">
  {{- range $pages }}
  {{- if eq $currentPage . }}
  <li class="item selected">
  {{- else }}
  <li class="item">
  {{- end }}
    {{- if .Param "featured_image" }}
    {{- with  .Resources.GetMatch (.Param "featured_image") }}
    <div class="item-image"><img src="{{ .RelPermalink }}" class="cover"/></div>
    {{- end }}
    {{- end }}
    {{- if and (not .Date.IsZero) ($currentPage.Param "list_style.dateFormat") }}
    <span class="item-date">
      {{ .Date.Format ($currentPage.Param "list_style.dateFormat") }}
    </span>
    {{- end }}
    {{- if $currentPage.Param "list_style.before_tags" }}
      {{- $c := intersect .Params.tags ($currentPage.Param "list_style.before_tags") }}
      <span class="istc-label {{ delimit $c ` ` }}"></span>
    {{- end }}
    <span class="item-title">
      {{- if .IsSection }}{{- $currentPage.Param "list_style.section_mark" | safeHTML }}{{- end }}
      {{- if eq $currentPage . }}
        {{ .Title }}
      {{- else }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{- end }}
    </span>
    {{- if and (.Param "list_style.pages_count") .Pages }}
    <span class="Counter Counter--gray">{{ len .Pages }}</span>
    {{- end }}
    {{- if ne $currentPage . }}
    {{- if and .Params.tags ($currentPage.Param "list_style.tags") }}
    <span class="item-tags">
      {{ partial "sub_label_tags.html" . }}
    </span>
    {{- end }}
    {{- if and .Params.categories ($currentPage.Param "list_style.categories") }}
    <span class="item-categories">
      {{ partial "sub_label_categories.html" . }}
    </span>
    {{- end }}
    {{- if $currentPage.Param "list_style.summary" }}
    <div class="item-summary ml-3">
      {{ plainify .Summary }}
    </div>
    {{- end }}
    {{- end }}
  </li>
  {{- end }}
</ul>
