{{- if and .TableOfContents (gt (len .TableOfContents) 32) }}
{{- $t := i18n "tableofcontents" . }}
{{- if or (not $t) (.Param "disable_translation") -}}{{ $t = "Table of Contents" }}{{- end -}}
<nav role="navigation" aria-label="toc" class="toc">
<details class="details-overlay" open>
<summary><span class="h3">{{ $t }}</span></summary>
{{- .TableOfContents }}
</details>
</nav>
{{- end }}
