{{- if .Site.Menus.links }}
{{- $t := i18n "link" . }}
{{- if or (not $t) (.Param "disable_translation") -}}{{ $t = "Links" }}{{- end -}}
<nav role="navigation" aria-label="links" class="links">
<details class="details-overlay" open>
<summary><span class="h3">{{ $t }}</span></summary>
<ul>
{{- range .Site.Menus.links }}
  <li><a href="{{ .URL }}" target="_blank">{{ .Name }}</a></li>
{{- end }}
</ul>
</details>
</nav>
{{- end }}
