{{- with .Params.categories }}
{{- range . }}
  <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="muted-link">
    <span class="Label Label--outline-green">{{ . }}</span>
  </a>
{{- end }}
{{- end }}
