{{- $pages := .Site.Pages.Related . }}
{{- if $pages }}
{{- if gt (.Param "related.max") 0 }}
  {{- $pages = first (.Param "related.max") $pages }}
{{- end }}
{{- $t := i18n "relatedpage" . }}
{{- if or (not $t) (.Param "disable_translation") -}}{{ $t = "Related Pages" }}{{- end -}}
{{- with $pages }}
<nav role="navigation" aria-label="related" class="related">
<details class="details-overlay" open>
<summary><span class="h3">{{ $t }}</span></summary>
<ul>
  {{- range . }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{- end }}
</ul>
</details>
</nav>
{{- end }}
{{- end }}
