{{- $pages := where .Site.Pages "Params.tags" "intersect" (.Param "nav_alert.tags") }}
{{- $t := i18n "alertpage" . }}
{{- if or (not $t) (.Param "disable_translation") -}}{{ $t = "Alerts" }}{{- end -}}
{{- with $pages }}
<nav role="navigation" aria-label="alert_pages" class="alert">
<details class="details-overlay" open>
<summary><span class="h3">{{ $t }}</span></summary>
<ul>
  {{- range . }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{- end }}
</ul>
</details>
</nav>
{{- end }}
