{{- $cs := .CurrentSection }}
{{- if .Param "list.section" }}
  {{- $cs = (.GetPage (.Param "list.section")).CurrentSection }}
{{- end }}
{{- $pages0 := $cs.Pages }}
{{- if $cs.IsHome }}
  {{- $pages0 = where $pages0 "Section" "" }}
{{- end }}
{{- $pages := (slice) }}
{{- if .Param "list.pages" }}
  {{- range $p := (.Param "list.pages") }}
    {{- if eq $p "sections" }}
      {{- $pages = union $pages $cs.Sections }}
    {{- else if eq $p "pages" }}
      {{- $pages = union $pages $pages0 }}
    {{- end }}
  {{- end }}
{{- else }}
  {{- $pages = union $cs.Sections $pages0 }}
{{- end }}
{{- if .Param "list.params" }}
  {{- range $x := .Param "list.params" }}
    {{- $pages = where $pages ".Params.Keys" "intersect" (slice $x) }}
  {{- end }}
{{- end }}
{{- if .Param "list.tags" }}
  {{- range $x := .Param "list.tags" }}
    {{- $pages = where $pages ".Params.tags" "intersect" (slice $x) }}
  {{- end }}
{{- end }}
{{- if .Param "list.categories" }}
  {{- range $x := .Param "list.categories" }}
    {{- $pages = where $pages ".Params.categories" "intersect" (slice $x) }}
  {{- end }}
{{- end }}
{{- if eq "title" (.Param "list.sortby") }}
  {{- $pages = sort $pages "Title" "asc" }}
{{- else if eq "date" (.Param "list.sortby") }}
  {{- $pages = sort $pages "Date" "desc" }}
{{- end }}
{{- if $pages }}
  <nav role="navigation" aria-label="list-pages" class="list-pages">
  {{- if or .IsHome (or .IsSection .IsPage) }}
    {{- $t := .Param "list.header" }}
    {{- if and (not $t) (ne $t "") }}
      {{- $t = i18n "listofpage" . }}
      {{- if or (not $t) (.Param "disable_translation") -}}{{ $t = "List of Pages" }}{{- end -}}
    {{- end }}
    {{- if $t }}<h2>{{ $t }}</h2>{{- end }}
  {{- end }}
  {{- if gt (.Param "list.max") 0 }}
    {{- $pages = first (.Param "list.max") $pages }}
  {{- end }}
  {{- if or .IsPage (gt (.Param "list.max") 0) }}
    {{- .Scratch.Set "pages" $pages }}
    {{- partial "sub_list_pages.html" . }}
  {{- else }}
    {{- .Scratch.Set "pages" (.Paginate $pages).Pages }}
    {{- partial "sub_list_pages.html" . }}
    {{- partial "sub_paginator.html" . }}
  {{- end }}
  </nav>
{{- end }}
