<div class="float-md-left">
  {{- $t := .Site.Title }}
  {{- $u := .Site.BaseURL }}
  {{- if .Param "site_title" }}
    {{- $t = .Param "site_title.name" }}
    {{- $u = .Param "site_title.url" }}
  {{- end }}
  {{- if not $u }}
    {{- $u = "/" }}
  {{- end }}
  <a href="{{ $u }}" class="h1">{{ $t }}</a>
</div>
