{{- define "tree" }}
  {{- if .IsSection }}
    <li><span class="selected">{{ .Title }}</span></li>
  {{- else if .IsPage}}
    <li>(<a href="{{ .CurrentSection.RelPermalink }}">{{ .CurrentSection.Title }}</a>)</li>
  {{- end }}
  <li><ul>
    {{- $currentPage := . }}
    {{- with .CurrentSection }}
    {{- $currentSection := . }}
    {{- $pages := union .Sections .Pages }}
    {{- if gt (.Param "section_toc.max") 0 }}
      {{- $pages = first (.Param "section_toc.max") $pages }}
    {{- end }}
    {{- range $pages }}
      {{- $mark := cond .IsSection ($currentPage.Param "section_toc.section_mark" | safeHTML) "" }}
      {{- if eq . $currentPage }}
        <li class="selected">{{ $mark }}{{ .Title }}</li>
      {{- else if or .IsSection (eq .CurrentSection $currentSection) }}
        <li>{{ $mark }}<a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{- end }}
    {{- end }}
    {{- end }}
  </ul></li>
{{- end -}}

{{- if .CurrentSection }}
{{- if union .CurrentSection.Sections .CurrentSection.Pages }}
{{- $t := i18n "page" . }}
{{- if or (not $t) (.Param "disable_translation") -}}{{ $t = "Pages" }}{{- end -}}
<nav role="navigation" aria-label="section-toc" class="section-toc">
<details class="details-overlay" open>
<summary><span class="h3">{{ $t }}</span></summary>
<ul>
  {{- template "tree" . }}
</ul>
</details>
</nav>
{{- end }}
{{- end }}
