{{- if .Draft }}
<div class="flash flash-error">draft</div>
{{- end }}
{{- if (and (not .ExpiryDate.IsZero) (lt .ExpiryDate now)) }}
<div class="flash flash-error">expirydate: {{ .ExpiryDate }}</div>
{{- end }}
{{- if (and .Date (gt .Date now)) }}
<div class="flash flash-error">date: {{ .Date }}</div>
{{- end }}
{{- if (and .PublishDate (gt .PublishDate now)) }}
<div class="flash flash-error">publishdate: {{ .PublishDate }}</div>
{{- end }}
